In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)

sns.set_theme()

In [3]:
col_names = [
    "age",
    "workclass",
    "fnlwgt",
    "education",
    "education-num",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "capital-gain",
    "capital-loss",
    "hours-per-week",
    "native-country",
    "target"
]
df_train = pd.read_csv("data/adult_data.csv", sep=",", header=0, names=col_names, engine="python")
df_test = pd.read_csv("data/adult_data_test.csv", sep=",", header=0, names=col_names, engine="python")

In [4]:
df_train.info()
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  int64
 1   workclass       32560 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   education-num   32560 non-null  int64
 5   marital-status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32560 non-null  object
 9   sex             32560 non-null  object
 10  capital-gain    32560 non-null  int64
 11  capital-loss    32560 non-null  int64
 12  hours-per-week  32560 non-null  int64
 13  native-country  32560 non-null  object
 14  target          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16280 entries, 0 to 16279
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             16280 non-null  int64
 1   workclass       16280 non-null  object
 2   fnlwgt          16280 non-null  int64
 3   education       16280 non-null  object
 4   education-num   16280 non-null  int64
 5   marital-status  16280 non-null  object
 6   occupation      16280 non-null  object
 7   relationship    16280 non-null  object
 8   race            16280 non-null  object
 9   sex             16280 non-null  object
 10  capital-gain    16280 non-null  int64
 11  capital-loss    16280 non-null  int64
 12  hours-per-week  16280 non-null  int64
 13  native-country  16280 non-null  object
 14  target          16280 non-null  object
dtypes: int64(6), object(9)
memory usage: 1.9+ MB

In [5]:
df = pd.concat([df_train, df_test], axis=0, ignore_index=True, verify_integrity=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48840 entries, 0 to 48839
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48840 non-null  int64
 1   workclass       48840 non-null  object
 2   fnlwgt          48840 non-null  int64
 3   education       48840 non-null  object
 4   education-num   48840 non-null  int64
 5   marital-status  48840 non-null  object
 6   occupation      48840 non-null  object
 7   relationship    48840 non-null  object
 8   race            48840 non-null  object
 9   sex             48840 non-null  object
 10  capital-gain    48840 non-null  int64
 11  capital-loss    48840 non-null  int64
 12  hours-per-week  48840 non-null  int64
 13  native-country  48840 non-null  object
 14  target          48840 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [8]:
df.to_csv("./data/us_census.csv", index=False)