## Import modules

In [39]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", 500)
pd.set_option("display.max_rows", 500)

sns.set_theme()

## Joint train and test datasets available at UCI

In [88]:
col_names = [
    "age",
    "workclass",
    "fnlwgt",
    "education",
    "education_num",
    "marital_status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "capital_gain",
    "capital_loss",
    "hours_per_week",
    "native_country",
    "target",
]
df_train = pd.read_csv("data/adult_data.csv", sep=",", header=0, names=col_names)
df_test = pd.read_csv("data/adult_data_test.csv", sep=",", header=0, names=col_names)
df = pd.concat([df_train, df_test], axis=0, ignore_index=True, verify_integrity=True)
df.to_csv("./data/us_census.csv", index=False)

## Read data and summarise each column

In [89]:
df = pd.read_csv("./data/us_census.csv", na_values=" ?")

In [90]:
## Let's see what values are in each column
for column in df.columns:
    print(df[column].value_counts())
    print()

36    1348
35    1337
33    1335
23    1329
31    1325
34    1303
28    1280
37    1280
30    1278
38    1264
32    1253
41    1235
27    1232
29    1223
24    1206
39    1205
25    1194
40    1187
22    1178
42    1165
26    1153
20    1113
43    1104
46    1097
21    1096
45    1096
47    1081
44    1067
19    1053
51     877
50     866
18     862
49     847
48     845
52     738
53     711
55     621
54     613
17     595
56     564
58     555
57     551
59     523
61     450
60     449
62     394
64     340
63     335
65     284
67     238
66     237
68     178
69     149
70     133
72     120
71     118
73     108
74      77
75      72
76      69
90      55
77      54
80      38
81      37
78      34
79      30
82      15
84      13
83      11
88       6
85       5
87       3
89       2
86       1
Name: age, dtype: int64

 Private             33905
 Self-emp-not-inc     3862
 Local-gov            3136
 State-gov            1980
 Self-emp-inc         1695
 Federal-gov          1432
 Without-pay            21
 Never-worked           10
Name: workclass, dtype: int64

203488    21
120277    19
190290    19
125892    18
126569    18
          ..
208809     1
221095     1
180123     1
176025     1
352196     1
Name: fnlwgt, Length: 28521, dtype: int64

 HS-grad         15784
 Some-college    10878
 Bachelors        8024
 Masters          2657
 Assoc-voc        2061
 11th             1811
 Assoc-acdm       1601
 10th             1389
 7th-8th           955
 Prof-school       834
 9th               756
 12th              657
 Doctorate         594
 5th-6th           509
 1st-4th           247
 Preschool          83
Name: education, dtype: int64

9     15784
10    10878
13     8024
14     2657
11     2061
7      1811
12     1601
6      1389
4       955
15      834
5       756
8       657
16      594
3       509
2       247
1        83
Name: education_num, dtype: int64

 Married-civ-spouse       22379
 Never-married            16115
 Divorced                  6633
 Separated                 1530
 Widowed                   1518
 Married-spouse-absent      628
 Married-AF-spouse           37
Name: marital_status, dtype: int64

 Prof-specialty       6172
 Craft-repair         6112
 Exec-managerial      6086
 Adm-clerical         5610
 Sales                5504
 Other-service        4923
 Machine-op-inspct    3021
 Transport-moving     2355
 Handlers-cleaners    2072
 Farming-fishing      1490
 Tech-support         1446
 Protective-serv       983
 Priv-house-serv       242
 Armed-Forces           15
Name: occupation, dtype: int64

 Husband           19716
 Not-in-family     12582
 Own-child          7580
 Unmarried          5125
 Wife               2331
 Other-relative     1506
Name: relationship, dtype: int64

 White                 41761
 Black                  4684
 Asian-Pac-Islander     1519
 Amer-Indian-Eskimo      470
 Other                   406
Name: race, dtype: int64

 Male      32648
 Female    16192
Name: sex, dtype: int64

0        44806
15024      513
7688       410
7298       364
99999      244
3103       152
5178       146
5013       117
4386       108
8614        82
3325        81
2174        73
10520       64
4650        63
27828       58
4064        54
594         52
3137        51
14084       49
20051       49
13550       42
3908        42
6849        42
2829        42
1055        37
4787        35
3411        34
14344       34
3464        33
2176        31
2597        31
9386        31
2885        30
4101        29
2202        28
2407        25
4865        25
4416        24
1506        24
4508        23
3674        22
2354        21
2580        20
10605       19
2907        18
3942        18
5455        18
6418        16
3781        16
6497        15
2463        15
2105        15
7430        15
2964        14
2635        14
25236       14
1151        13
3471        11
2653        11
3818        11
2977        11
2414        10
15020       10
1409        10
2290        10
4934        10
914         10
6514        10
1797        10
1848         9
1471         9
1831         9
114          8
1086         8
2346         8
10566        8
3887         8
3418         8
15831        8
5721         7
2329         7
3273         7
7443         7
34095        6
991          6
25124        6
6767         6
5556         6
3456         6
6723         5
2050         5
1173         5
9562         5
2538         5
401          5
2228         5
2036         5
7896         4
11678        4
4931         4
2961         4
3432         4
1424         4
1455         4
2936         4
4687         4
6360         3
2993         3
2062         3
41310        3
2009         3
5060         2
18481        2
6097         2
1264         2
7978         2
7262         1
1639         1
1111         1
6612         1
2387         1
22040        1
1731         1
Name: capital_gain, dtype: int64

0       46558
1902      304
1977      253
1887      233
2415       72
1485       71
1848       67
1602       62
1590       62
1876       59
1740       58
1672       50
1741       44
1564       43
2258       39
1719       38
1980       36
2001       35
1408       35
1669       35
2002       33
1579       30
2051       29
1721       28
1974       28
2339       27
1504       26
2377       25
1628       24
2444       20
1762       20
2179       20
2205       19
625        17
2559       17
2057       16
2824       14
1573       12
2042       12
1651       11
1340       11
1617       11
1092       11
2392       11
1380       10
2174       10
1726        9
1668        9
1594        9
2246        8
2231        7
2129        7
2603        7
2206        6
1258        6
880         6
1825        5
213         5
323         5
2547        5
2149        5
3004        5
2238        4
1411        4
2472        4
2457        4
1138        4
653         4
3770        4
1816        4
1944        3
2267        3
1648        3
1510        3
1429        3
1844        3
1735        3
419         3
4356        3
2282        2
1755        2
810         2
3900        2
974         2
2754        2
3683        2
2352        2
2163        2
2467        2
3175        2
1539        1
2489        1
2201        1
1421        1
155         1
1870        1
2465        1
1911        1
2080        1
Name: capital_loss, dtype: int64

40    22801
50     4246
45     2717
60     2177
35     1937
20     1862
30     1700
55     1051
25      958
48      770
38      714
15      623
70      437
10      425
32      423
65      355
24      354
42      338
36      336
44      310
16      303
12      247
37      242
43      227
8       218
80      210
52      205
56      141
28      140
99      137
18      129
46      129
72      107
75      105
5        95
6        92
4        84
47       82
84       72
39       63
54       62
22       62
33       61
41       59
3        59
14       55
2        53
34       48
21       46
7        45
27       43
17       42
90       42
26       40
23       40
49       39
53       39
58       38
13       28
9        27
1        27
66       23
62       23
64       22
11       20
51       20
57       19
19       19
85       17
68       16
63       15
29       15
98       14
78       13
31       12
96        9
77        9
59        7
67        6
88        4
76        4
61        4
86        4
73        4
89        3
81        3
91        3
92        3
74        3
95        2
97        2
79        1
94        1
87        1
82        1
69        1
Name: hours_per_week, dtype: int64

 United-States                 43830
 Mexico                          951
 Philippines                     295
 Germany                         206
 Puerto-Rico                     184
 Canada                          182
 El-Salvador                     155
 India                           151
 Cuba                            138
 England                         127
 China                           122
 South                           115
 Jamaica                         106
 Italy                           105
 Dominican-Republic              103
 Japan                            92
 Guatemala                        88
 Poland                           87
 Vietnam                          86
 Columbia                         85
 Haiti                            75
 Portugal                         67
 Taiwan                           65
 Iran                             59
 Nicaragua                        49
 Greece                           49
 Peru                             46
 Ecuador                          45
 France                           38
 Ireland                          37
 Hong                             30
 Thailand                         30
 Cambodia                         28
 Trinadad&Tobago                  27
 Laos                             23
 Yugoslavia                       23
 Outlying-US(Guam-USVI-etc)       23
 Scotland                         21
 Honduras                         20
 Hungary                          19
 Holand-Netherlands                1
Name: native_country, dtype: int64

 <=50K     24719
 <=50K.    12434
 >50K       7841
 >50K.      3846
Name: target, dtype: int64

In [91]:
## Check out the number of missing values
df.isna().sum(axis=0)

age                  0
workclass         2799
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        2809
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     857
target               0
dtype: int64

## Make some value replacements

In [92]:
## string type entries have a blank space in front of them
col_list = ["workclass", "education","marital_status",
            "occupation", "relationship", "race", "sex",
            "native_country", "target"]
df[col_list] = df[col_list].applymap(lambda string: string.strip() if string is not np.nan else string)

## Replace strings in target column by ones and zeroes
rep_dict = {
    "<=50K": 0,
    "<=50K.": 0,
    ">50K": 1,
    ">50K.": 1
}
df["target"].replace(to_replace=rep_dict, value=None, inplace=True)

## Drop columns which should not be used

In [94]:
## "education-num" is a categorical variable equivalent to
## "education".
##
## "fnlwgt" means "final-weight" and represents the number of
## people in the US population that each record represents, due
## to stratified sampling. Therefore, it should not be used when
## trying to predict individual income.

df.drop(labels=["education_num", "fnlwgt"], axis=1, inplace=True)

In [95]:
df.head()

,age,workclass,education,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,target
0,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
1,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
2,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
3,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0
4,37,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,0

In [96]:
df.corr()

                     age  capital_gain  capital_loss  hours_per_week    target
age             1.000000      0.077227      0.056940        0.071558  0.230362
capital_gain    0.077227      1.000000     -0.031441        0.082157  0.223015
capital_loss    0.056940     -0.031441      1.000000        0.054467  0.147551
hours_per_week  0.071558      0.082157      0.054467        1.000000  0.227687
target          0.230362      0.223015      0.147551        0.227687  1.000000

In [38]:
for column in df.columns:
    print(df[column].value_counts())

36    1348
35    1337
33    1335
23    1329
31    1325
34    1303
28    1280
37    1280
30    1278
38    1264
32    1253
41    1235
27    1232
29    1223
24    1206
39    1205
25    1194
40    1187
22    1178
42    1165
26    1153
20    1113
43    1104
46    1097
21    1096
45    1096
47    1081
44    1067
19    1053
51     877
50     866
18     862
49     847
48     845
52     738
53     711
55     621
54     613
17     595
56     564
58     555
57     551
59     523
61     450
60     449
62     394
64     340
63     335
65     284
67     238
66     237
68     178
69     149
70     133
72     120
71     118
73     108
74      77
75      72
76      69
90      55
77      54
80      38
81      37
78      34
79      30
82      15
84      13
83      11
88       6
85       5
87       3
89       2
86       1
Name: age, dtype: int64
 Private             33905
 Self-emp-not-inc     3862
 Local-gov            3136
 ?                    2799
 State-gov            1980
 Self-emp-inc         1695
 Federal-gov          1432
 Without-pay            21
 Never-worked           10
Name: workclass, dtype: int64
203488    21
120277    19
190290    19
125892    18
126569    18
          ..
208809     1
221095     1
180123     1
176025     1
352196     1
Name: fnlwgt, Length: 28521, dtype: int64
 HS-grad         15784
 Some-college    10878
 Bachelors        8024
 Masters          2657
 Assoc-voc        2061
 11th             1811
 Assoc-acdm       1601
 10th             1389
 7th-8th           955
 Prof-school       834
 9th               756
 12th              657
 Doctorate         594
 5th-6th           509
 1st-4th           247
 Preschool          83
Name: education, dtype: int64
9     15784
10    10878
13     8024
14     2657
11     2061
7      1811
12     1601
6      1389
4       955
15      834
5       756
8       657
16      594
3       509
2       247
1        83
Name: education-num, dtype: int64
 Married-civ-spouse       22379
 Never-married            16115
 Divorced                  6633
 Separated                 1530
 Widowed                   1518
 Married-spouse-absent      628
 Married-AF-spouse           37
Name: marital-status, dtype: int64
 Prof-specialty       6172
 Craft-repair         6112
 Exec-managerial      6086
 Adm-clerical         5610
 Sales                5504
 Other-service        4923
 Machine-op-inspct    3021
 ?                    2809
 Transport-moving     2355
 Handlers-cleaners    2072
 Farming-fishing      1490
 Tech-support         1446
 Protective-serv       983
 Priv-house-serv       242
 Armed-Forces           15
Name: occupation, dtype: int64
 Husband           19716
 Not-in-family     12582
 Own-child          7580
 Unmarried          5125
 Wife               2331
 Other-relative     1506
Name: relationship, dtype: int64
 White                 41761
 Black                  4684
 Asian-Pac-Islander     1519
 Amer-Indian-Eskimo      470
 Other                   406
Name: race, dtype: int64
 Male      32648
 Female    16192
Name: sex, dtype: int64
0        44806
15024      513
7688       410
7298       364
99999      244
3103       152
5178       146
5013       117
4386       108
8614        82
3325        81
2174        73
10520       64
4650        63
27828       58
4064        54
594         52
3137        51
14084       49
20051       49
13550       42
3908        42
6849        42
2829        42
1055        37
4787        35
3411        34
14344       34
3464        33
2176        31
2597        31
9386        31
2885        30
4101        29
2202        28
2407        25
4865        25
4416        24
1506        24
4508        23
3674        22
2354        21
2580        20
10605       19
2907        18
3942        18
5455        18
6418        16
3781        16
6497        15
2463        15
2105        15
7430        15
2964        14
2635        14
25236       14
1151        13
3471        11
2653        11
3818        11
2977        11
2414        10
15020       10
1409        10
2290        10
4934        10
914         10
6514        10
1797        10
1848         9
1471         9
1831         9
114          8
1086         8
2346         8
10566        8
3887         8
3418         8
15831        8
5721         7
2329         7
3273         7
7443         7
34095        6
991          6
25124        6
6767         6
5556         6
3456         6
6723         5
2050         5
1173         5
9562         5
2538         5
401          5
2228         5
2036         5
7896         4
11678        4
4931         4
2961         4
3432         4
1424         4
1455         4
2936         4
4687         4
6360         3
2993         3
2062         3
41310        3
2009         3
5060         2
18481        2
6097         2
1264         2
7978         2
7262         1
1639         1
1111         1
6612         1
2387         1
22040        1
1731         1
Name: capital-gain, dtype: int64
0       46558
1902      304
1977      253
1887      233
2415       72
1485       71
1848       67
1602       62
1590       62
1876       59
1740       58
1672       50
1741       44
1564       43
2258       39
1719       38
1980       36
2001       35
1408       35
1669       35
2002       33
1579       30
2051       29
1721       28
1974       28
2339       27
1504       26
2377       25
1628       24
2444       20
1762       20
2179       20
2205       19
625        17
2559       17
2057       16
2824       14
1573       12
2042       12
1651       11
1340       11
1617       11
1092       11
2392       11
1380       10
2174       10
1726        9
1668        9
1594        9
2246        8
2231        7
2129        7
2603        7
2206        6
1258        6
880         6
1825        5
213         5
323         5
2547        5
2149        5
3004        5
2238        4
1411        4
2472        4
2457        4
1138        4
653         4
3770        4
1816        4
1944        3
2267        3
1648        3
1510        3
1429        3
1844        3
1735        3
419         3
4356        3
2282        2
1755        2
810         2
3900        2
974         2
2754        2
3683        2
2352        2
2163        2
2467        2
3175        2
1539        1
2489        1
2201        1
1421        1
155         1
1870        1
2465        1
1911        1
2080        1
Name: capital-loss, dtype: int64
40    22801
50     4246
45     2717
60     2177
35     1937
20     1862
30     1700
55     1051
25      958
48      770
38      714
15      623
70      437
10      425
32      423
65      355
24      354
42      338
36      336
44      310
16      303
12      247
37      242
43      227
8       218
80      210
52      205
56      141
28      140
99      137
18      129
46      129
72      107
75      105
5        95
6        92
4        84
47       82
84       72
39       63
54       62
22       62
33       61
41       59
3        59
14       55
2        53
34       48
21       46
7        45
27       43
17       42
90       42
26       40
23       40
49       39
53       39
58       38
13       28
9        27
1        27
66       23
62       23
64       22
11       20
51       20
57       19
19       19
85       17
68       16
63       15
29       15
98       14
78       13
31       12
96        9
77        9
59        7
67        6
88        4
76        4
61        4
86        4
73        4
89        3
81        3
91        3
92        3
74        3
95        2
97        2
79        1
94        1
87        1
82        1
69        1
Name: hours-per-week, dtype: int64
 United-States                 43830
 Mexico                          951
 ?                               857
 Philippines                     295
 Germany                         206
 Puerto-Rico                     184
 Canada                          182
 El-Salvador                     155
 India                           151
 Cuba                            138
 England                         127
 China                           122
 South                           115
 Jamaica                         106
 Italy                           105
 Dominican-Republic              103
 Japan                            92
 Guatemala                        88
 Poland                           87
 Vietnam                          86
 Columbia                         85
 Haiti                            75
 Portugal                         67
 Taiwan                           65
 Iran                             59
 Greece                           49
 Nicaragua                        49
 Peru                             46
 Ecuador                          45
 France                           38
 Ireland                          37
 Thailand                         30
 Hong                             30
 Cambodia                         28
 Trinadad&Tobago                  27
 Laos                             23
 Yugoslavia                       23
 Outlying-US(Guam-USVI-etc)       23
 Scotland                         21
 Honduras                         20
 Hungary                          19
 Holand-Netherlands                1
Name: native-country, dtype: int64
0    37153
1    11687
Name: target, dtype: int64

In [34]:
df["education-num"].value_counts()

9     15784
10    10878
13     8024
14     2657
11     2061
7      1811
12     1601
6      1389
4       955
15      834
5       756
8       657
16      594
3       509
2       247
1        83
Name: education-num, dtype: int64

In [36]:
df["marital-status"].value_counts()

 Married-civ-spouse       22379
 Never-married            16115
 Divorced                  6633
 Separated                 1530
 Widowed                   1518
 Married-spouse-absent      628
 Married-AF-spouse           37
Name: marital-status, dtype: int64

In [ ]:
df["ocupation"]

# --------------------------

In [4]:
df_train.info()
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  int64
 1   workclass       32560 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   education-num   32560 non-null  int64
 5   marital-status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32560 non-null  object
 9   sex             32560 non-null  object
 10  capital-gain    32560 non-null  int64
 11  capital-loss    32560 non-null  int64
 12  hours-per-week  32560 non-null  int64
 13  native-country  32560 non-null  object
 14  target          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16280 entries, 0 to 16279
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             16280 non-null  int64
 1   workclass       16280 non-null  object
 2   fnlwgt          16280 non-null  int64
 3   education       16280 non-null  object
 4   education-num   16280 non-null  int64
 5   marital-status  16280 non-null  object
 6   occupation      16280 non-null  object
 7   relationship    16280 non-null  object
 8   race            16280 non-null  object
 9   sex             16280 non-null  object
 10  capital-gain    16280 non-null  int64
 11  capital-loss    16280 non-null  int64
 12  hours-per-week  16280 non-null  int64
 13  native-country  16280 non-null  object
 14  target          16280 non-null  object
dtypes: int64(6), object(9)
memory usage: 1.9+ MB

In [5]:
df = pd.concat([df_train, df_test], axis=0, ignore_index=True, verify_integrity=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48840 entries, 0 to 48839
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48840 non-null  int64
 1   workclass       48840 non-null  object
 2   fnlwgt          48840 non-null  int64
 3   education       48840 non-null  object
 4   education-num   48840 non-null  int64
 5   marital-status  48840 non-null  object
 6   occupation      48840 non-null  object
 7   relationship    48840 non-null  object
 8   race            48840 non-null  object
 9   sex             48840 non-null  object
 10  capital-gain    48840 non-null  int64
 11  capital-loss    48840 non-null  int64
 12  hours-per-week  48840 non-null  int64
 13  native-country  48840 non-null  object
 14  target          48840 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [8]:
df.to_csv("./data/us_census.csv", index=False)